*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form {
    margin-top: 50px;
    background-color: #ccc;
    border-radius: 20px;
}

#form h1{
    padding: 20px;
    text-align: center;
}

form label, p{
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
}

form input[type=text],
form input[type=submit],
form select{
    padding: 5px;
}

.submit-btn{
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
}