*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 900px;
    background-color: red;
    display: flex;
    justify-content: center;
}

body form{
    flex: 1;
}